<%- include ("partials/header") %>

<h1>This the secret page</h1>

<p>you found me!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8mbD8cIB0yKGT7I6CGRLITH3a1LshpqPeJjMDqtBFm2E6WyTNGjhiGoGTMiLS7ikkg3k&usqp=CAU" alt="">

<%- include ("partials/footer") %>