body {
    background: url("https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?cs=srgb&dl=pexels-tyler-lastovich-997443.jpg&fm=jpg");
    background-size: cover;
}


/* .thumbnail img {
    width: 70%;
} */
.thumbnail {
    background: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.well{
    background: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.show {
    width: 70%;
    margin: auto;
}

.delete-form {
    display: inline;
}

.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    font-weight: bold;
    
}
.navbar-default .navbar-brand {
    color: rgb(55, 42, 228);
}

#postsName {
    font-weight: 700;
    color:white;
}

.navbar {
    background:transparent;
    border: 0;
}

nav:hover {
    color: yellow;
}