body {
    background: url("https://i.pinimg.com/originals/b4/c2/d7/b4c2d7c9fb28e69bff7ec8a1e37b8b42.jpg");
    background-size: cover;
}

.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.show {
    width: 70%;
    margin: auto;
}

.delete-form {
    display: inline;
}

.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    font-weight: bold;
    
}
.navbar-default .navbar-brand {
    color: rgb(55, 42, 228);
}

