<%- include ("../partials/header") %>

<style>
    body {
	background: url(https://1gew6o3qn6vx9kp3s42ge0y1-wpengine.netdna-ssl.com/wp-content/uploads/prod/2020/10/HERO-ART-microsoft_azure_1920x1000_nologo.jpg);
	background-size: cover;
}
</style>

<div class="container">
    <h1 style="text-align: center; color: rgb(32, 54, 180);">Welcome To Blog App</h1>
</div>

<%- include ("../partials/footer") %>